.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-light-alternate);
  padding: 2rem;
  text-align: center;

  &__container {
    max-width: 600px;
  }

  &__title {
    font-size: 6rem;
    font-weight: 700;
    color: var(--color-dark);
    margin: 0;
    line-height: 1;
    font-family: var(--font-family-alternate);
  }

  &__text {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--color-dark-alternate);
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--color-dark-alternate);
  }
  &__link{
    padding: 0.8rem 2rem;
  }

}

.not-found__title {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
