.teams{
    padding: 2rem var(--container-padding-x);
    
    &__title{
        font-size: 2rem;
        margin-bottom: 2.5rem;
        color: var(--color-dark);
        text-align: center;
        position: relative;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    &__card{
        display: grid;
        grid-template-columns: repeat(8, 1fr);


        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 0px 8px 16px 8px;
            min-width: 0;
        }
        &-logo{
        }
        &-link,
        &-title{
            font-size: clamp(12px, 2.08vw, 24px);
            font-weight: 500;
            text-align: center;

        }

        &-link{
            text-decoration: none;
        }

        &-link:hover{
            text-decoration: underline;
            text-decoration-color: var(--color-dark);
        }

    }
    &__loader{
    }
}

.loader{
    text-align: center;
}

@media (max-width: 640px) {
    .teams{
        &__title {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        &__card{
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media (max-width: 420px) {
    .teams{
        &__card{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
