@import 'layout/header/header';
@import '../pages/teams';
@import '../pages/standings';
@import '../pages/rosters';
@import '../pages/notFound';
@import '../pages/playerInfo';
@import '../pages/home';


.button {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    min-width: 200px;
    text-decoration: none;

    &:hover {
      background-color: var(--color-dark-hover);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
}
